h1 {
	text-align: center;
	color: red;	
}
form {
	text-align: center;
}

input {
	margin: 15px;
	}
button {
	color: white;
	background-color: green;
}
.log {
	border: solid;
	background-color: white;
	width: 500px;
	padding: 30px;
	margin-top: 50px;
	}
body{
	background-color: grey;
}
.flex {
	display: flex;
	align-items: center;
    justify-content: center;
}